.skill-section{
    position: relative;
    margin-top: 8vh;
    left: 37%;
    width: 63%;
    /* background-color: red; */
}

.skill-heading{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 600;
}

.skill-icons{
    margin-top: 3vh;
    width: 80%;
    display: flex;
    gap: 3rem;;
    flex-wrap: wrap;
}

.skill-icons img{
    width: 6rem;    
}