nav {
    color: white;
    padding: 2em 1.5em;
    display: flex;
    align-items: center;
    position: absolute;
    background-color: transparent;
    right: 0;
    z-index: 1;
  }
  
  .nav-head {
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--orange);
    background-image: -webkit-linear-gradient(45deg, var(--orange) 31%, #141aeb 62%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }
  
  /* Desktop menu */
  .nav-menu {
    display: flex;
    opacity: 1;
    transition: all 0.5s ease;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 200;
    margin: 0 1rem;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
  }
  
  /* Default hover effect */
  .nav-menu a:hover {
    color: var(--orange);
  }
  
  /* Underline animation */
  .nav-menu a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: var(--orange);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  
  /* Hover effect */
  .nav-menu a:hover::after {
    width: 100%;
    left: 0;
  }
  
  /* Active Link */
  .nav-menu a.active {
    color: var(--orange);
  }
  
  .nav-menu a.active::after {
    width: 100%;
    left: 0;
  }
  
  /* Hamburger menu icon */
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 10;
  }
  
  .hamburger span {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  /* Mobile menu */
  .nav-menu-sm {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 80px;
    transition: right 0.3s ease-in-out;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-menu-sm.open {
    right: 0;
  }
  
  .nav-menu-sm a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 200;
    margin: 1.5rem 0;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-menu-sm a:hover,
  .nav-menu-sm a.active {
    color: var(--orange);
  }
  
  @media screen and (max-width: 1140px) {
    .nav-menu {
      display: none;
    }
    
    .hamburger {
      display: flex;
    }
    
    .nav-menu-sm {
      display: flex;
    }
    
    nav {
      justify-content: flex-end;
      width: 100%;
      box-sizing: border-box;
    }
  }
  
  @media screen and (max-width: 880px){
    nav {
      margin: 0 1.5rem;
      padding: 1.5rem 0;
    }
    
    .nav-head {
      font-size: 20px;
    }
    
    .download-cv {
      padding: 5px 10px;
      font-size: 0.8rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .nav-menu-sm {
      width: 100%;
    }
  }